@model IncidentAddEditViewModel
@{
    ViewData["Title"] = "Incidents for Technicians";
}

<!-- Show the selected Technician name -->
<h1>Technician: @Model.CurrentTechnician.Name </h1>
<h1>Assigned/Open Incidents</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Customer</th>
            <th scope="col">Product</th>
            <th scope="col">Date Opened</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model.Incidents)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer.FullName</td>
                    <td>@incident.Product.Name</td>
                    <td>@incident.DateOpened.ToShortDateString()</td>
                    <td>
                        <a asp-controller="TechIncident" asp-action="Edit"
                           asp-route-id="@incident.IncidentID" class="btn btn-success btn-sm">Edit</a>
                    </td>
                </tr>
            }
    </tbody>

</table>
<a asp-controller="TechIncident" asp-action="Get" class="btn btn-success">Switch Technician</a>